[submodule "ref-mask-binding"]
	path = ref-mask-binding
	url = https://github.com/atmajs/mask-binding.git
[submodule "ref-mask-compo"]
	path = ref-mask-compo
	url = https://github.com/atmajs/mask-compo.git
[submodule "ref-mask-j"]
	path = ref-mask-j
	url = https://github.com/atmajs/mask-j.git
[submodule "ref-mask-node"]
	path = ref-mask-node
	url = https://github.com/atmajs/mask-node
