[submodule "mask-binding"]
	path = mask-binding
	url = https://github.com/atmajs/mask-binding.git
[submodule "mask-compo"]
	path = mask-compo
	url = https://github.com/atmajs/mask-compo.git
[submodule "mask-j"]
	path = mask-j
	url = https://github.com/atmajs/mask-j.git
[submodule "mask-node"]
	path = mask-node
	url = https://github.com/atmajs/mask-node
