# ide
.komodotools
*.komodoproject

.gitignore
.gitmodules
.gitattributes
.npmignore
.vscode
.travis.yml

build.js
node_modules/
tools/
test/
src/
builds/
examples/
ts-temp/
/ref-**
/projects


tsconfig-build.json